<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth Assignment A1 1DV027</title>
    <base href="{{baseURL}}"/>
    <link rel="stylesheet" type="text/css" href="./css/styles.css"/>
</head>
<body>
    <header>
      <h1 id="header-title">OAuth Assignment</h1>
      <hr id="header-hr">
    </header>
        {{>flash}}
        {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</body>
</html>
