{{>navbar}}
<main class="main-body">
{{#if activity}}
  <table>
    <tr>
      <th>Action</th>
      <th>Created At</th>
      <th>Target Title</th>
      <th>Target Type</th>
    </tr>
    {{#each activity.all}}
    <tr>
      <td>{{this.action}}</td>
      <td>{{this.created_at}}</td>
      <td>{{this.target_title}}</td>
      <td>{{this.target_type}}</td>
    </tr>
    {{/each}}
  </table>
{{else}}
<p>Show user activity here</p>
{{/if}}
</main>