{{#if loggedIn}} 
 {{>navbar}}
<main class="main-body">
<p id="welcome">Welcome to the home page!</p>
</main>
{{else}}
<main class="main-body">
  <div id="login-container">
    <a href="/submit">Click to log into GitLab</a>
  </div>
{{/if}}
</main>
