{{>navbar}}
<main class="main-body">
{{#if userData}}
  <div id="user-container">
    <img src={{userData.avatar}} alt="User's avatar" id="avatar">
    <div id="user-info">
    <p>{{userData.name}}</p>
    <hr class="user-hr">
    <p class="data-info">Name</p>
    <p>{{userData.username}}</p>
    <hr class="user-hr">
    <p class="data-info">Username</p>
    <p>{{userData.id}}</p>
    <hr class="user-hr">
    <p class="data-info">ID</p>
    <p>{{userData.email}}</p>
    <hr class="user-hr">
    <p class="data-info">E-mail</p>
    <p>{{userData.last_activity}}</p>
    <hr class="user-hr">
    <p class="data-info">Last activity</p>
    </div>
  </div>
  {{else}}
  <a href="/submit">Click to log into GitLab</a>
  {{/if}}
</main>