body {
    background-color: #F2F1E8;
}

#header-title {
    color: #050533;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
}

#header-hr {
    border: solid 1px #0D698B;
}

nav {
    display: flex;
    flex-direction: row;
}

a {
    padding: 20px;
    color: #0D698B;
    text-decoration: none;
    font-family: 'Courier New';
}

#welcome {
    font-family: 'Helvetica';
    font-size: 20px;
    color: #050533;
}

.main-body {
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 80px;
    padding: 40px;
}

#avatar {
    width: 150px;
    height: 150px;
    margin-right: 60px;
}

#user-container {
    display: flex;
}

#user-info {
    font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 0;
    flex-grow: 2;
    color: #050533;
}

.user-hr {
    width: 50%;
    text-align:left;
    margin-left: 0;
    border: 1px solid #D8CDBC;
}

.data-info {
    font-family: 'Times New Roman';
    font-size: 14px;
    margin-top: -8px;
    color: #C1B6A6;
}

th {
    font-family: 'Helvetica';
    color: #050533;
    background-color: #F2F1E8;
    padding: 10px;
}

td {
    border-bottom: 1px solid #D1BEB2;
    border-left: 1px solid #F2F1E8;
    color: #0D698B;
    font-family: 'Arial';
    padding: 5px;
}

table {
    width: 100%;
}

#flash-div {
    background-color: #0D698B;
    font-family: arial;
    text-align: center;
    color: white;
    width: 100%;
    padding: 15px;
}
